.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

app/build
asyncTask/build
asyncTaskSolution/build
BoutonExemple/build
DAOExercice/build
DAOGreenSolution/build
DAOSQLISolution/build
facebook/build
FacebookLogin/build
FormationUtils/build
fragmentFromScratch/build
GraphExemple/build
httpExemple/build
listViewRecyclage/build
MainActivityAndHandler/bin
MainActivityAndHandler/build
MainActivityAndHandlerSolution/build
sendSMS/build
serviceWithotto/build
smsBroadCast/build
Simple Facebook/build
webServiceGSONSolution/build
WebServiceGSONExercice/build
testFragment/build
ZBar_reader/build